name: Release Drafter

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

permissions:
  contents: write
  issues: write

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        with:
          config-name: .github/release-drafter.yml
